<footer>
    <div class="row">
        <div class="col-lg-12">
            <ul class="list-unstyled">
                <li class="pull-right"><a href="#top"><b>En haut</b></a></li>
			</ul>
            <p>
				Si vous avez des questions, des preoccupations ou des questions sur UnoporunO, contacter:  <a href="#" title="Dominick Makome">dominickmakome (at) limsi.fr</a>
			</p>
        </div>
    </div>
</footer>