<footer>
    <div class="row">
        <div class="col-lg-12">
            <ul class="list-unstyled">
                <li class="pull-right"><a href="#top"><b>En haut</b></a></li>
			</ul>
            <p>
				Nous contacter:  <a href="mailto: jgflores@lipn.fr" title="Jorge Garcia Flores">jgflores (at) lipn.fr</a>
			</p>
        </div>
    </div>
</footer>
