<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style1.css"/>
<!-- Template to be used for snippet annotation, instead of pipeline.html -->
</head>
<body>
  <h1><a href="/unoporuno/busqueda/{{ busqueda_id}}/" target="_top">Buscador de diásporas</a></h1>
<h2> {{ persona.name }}</h2>
<b><i>Geografía: </i></b> {{ persona.geo }} <br/>
<b><i>Organizaciones: </i></b> {{ persona.orgs }} <br/>
<b><i>Temas: </i></b> {{ persona.topics }}<br/>
<b><i>Status: </i></b> 
     <select name="mobility_status">
       <option value='0' {% ifequal persona.mobility_status 0 %} selected='0' {% endifequal %}>local</option>
       <option value='1' {% ifequal persona.mobility_status 1 %} selected='1' {% endifequal %}>móvil</option>
       <option value='2' {% ifequal persona.mobility_status None %} selected='2' {% endifequal %}></option>
    </select>
<hr/>
<form action="/unoporuno/busqueda/{{ busqueda_id }}/persona/{{ persona.id }}/evalua/" method="post" target="_top">
{% csrf_token %}

<table border="1" width="100%">
<tr>
	<th align="left">Resultado de la búsqueda</th>
	<th align="left">¿Es útil?</th>
	<th align="left">Grado</th>
</tr>

{% for snippet in lista_snippet %}
<tr>	
  <td width="80%">
  <p>
      <a href="{{ snippet.link }}"> {{ snippet.title  }} </a><br/>
      {{ snippet.description }} <br/>
      <i>{{ snippet.link }}</i><br/>
  </p>
  </td>
  <td width="10%">
    <div align="center">
      <input type="checkbox" name="{{ snippet.id }}" value="util"
      {% if snippet.pertinente %} CHECKED {% endif %}/>
    </div>  

  <td width="10%">
    <div align="center">
      <select name="combo{{ snippet.id  }}">
	<option value='0' {% if not snippet.evidence_type %} selected='0' {% endif %}></option>
	<option value='1' {% ifequal snippet.evidence_type 1 %} selected='1' {% endifequal %}>fuerte</option>
	<option value='2' {% ifequal snippet.evidence_type 2 %} selected='2' {% endifequal %}>débil</option>
	<option value='3' {% ifequal snippet.evidence_type 3 %} selected='3' {% endifequal %}>par débil</option>
      </select>
    </div>
  </td>
</tr>
{% endfor %}
</table>
<br />
<div align="center">
  <input type="submit" value="Guardar datos de evaluación"/> <br/>
</div>
</form>
</body>
</html>
