<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style1.css"/>
</head>
<body> 
<div align="center">
<a href="/unoporuno/"><img src="{{ STATIC_URL }}cidesal.jpg" height="140" width="140" border="0"/></a>
<h1>UnoporunO</h1>
<h4>{% block title %}Buscador de personas especializado en movilidad profesional{% endblock %}</h4>
</div>
{% block content %}

{% endblock %}
</body>
</html>
