{% extends "unoporuno/header.html" %}
{% block content %}

<h2>Características de la búsqueda</h2>
<p><strong>Nombre:</strong> {{ busqueda.nombre }} <br/>
<strong>Fecha:</strong> {{ busqueda.fecha }} <br/>
<strong>Usuario:</strong> {{ busqueda.usuario }} <br/>
<strong>Descripción:</strong> {{ busqueda.descripcion }}  
</p>
<hr/>
<!-- {% if error_message  %}<p><strong > {{ error_message  }}</strong></p> 
{% else %}-->
<h2>Resultados</h2>
<table border="1" width="100%">
<tr>
	<th align="left">Nombre</th>
	<th align="justify">Información geográfica</th>
	<th align="left">Organizaciones</th>
	<th align="center">Predicción</th>
	<th align="center">Status</th>
</tr>

{% for persona in orden_alfabetico %}
    <tr>
        <td><a href="/unoporuno/busqueda/{{ busqueda.id }}/persona/{{ persona.id }}/top/0/">{{ persona.name }}</a></td>
	<td>{{ persona.geo }}</td>
	<td>{{ persona.orgs }}</td>
	<td><div align="center">
	                      {% ifequal persona.prediction 1 %} móvil {% endifequal %}
			      {% ifequal persona.prediction 2 %} local {% endifequal %}
			      {% ifequal persona.prediction None %} ? {% endifequal %}
			      {% ifequal persona.prediction 3 %} N/A {% endifequal %}
	</div></td>
	<td><div align="center">
	                      {% ifequal persona.mobility_status 1 %} móvil {% endifequal %}
			      {% ifequal persona.mobility_status 2 %} local {% endifequal %}
			      {% ifequal persona.mobility_status None %} ? {% endifequal %}
			      {% ifequal persona.mobility_status 3 %} N/A {% endifequal %}
			      {% ifequal persona.mobility_status 11 %} móv:lineal {% endifequal %}
			      {% ifequal persona.mobility_status 12 %} móv:circular {% endifequal %}
			      {% ifequal persona.mobility_status 31 %} extranjero {% endifequal %}
	</div></td>
    </tr>
{% endfor %}
</table>
{% endif  %}
{% endblock %}
