{% extends "unoporuno/base.html" %}
{% block title %} Lanzamiento de nueva búsqueda {% endblock %}
{% block content %}
<form enctype="multipart/form-data" method="post" action="/unoporuno/lanza_busqueda/">
{% csrf_token %}
<div align="center">
{{ form.as_ul }}
<br/>
<input type="submit" value="Enviar" />
<br/>
</form>
<br/>
<br/>Nota: El formato de entrada de UnoporunO es un archivo <i>.csv</i> en donde cada línea responde al siguiente formato:
<br/><br/><b>NÚMERO|NOMBRE|TEMA1;TEMA2|ORGANIZACIÓN1;ORGANIZACIÓN2|LUGAR1;LUGAR2</b>
<br/><br/>Puede ver un ejemplo de archivo <a href="https://github.com/unoporuno/unoporuno/blob/master/test/unoporuno.search.test/albert.einstein.test.csv">aquí</a>
</div>
{% endblock %}

 
