{% extends "unoporuno/header.html" %}
{% block content %}
<h2>Resultados disponibles</h2>

<table border="1" width="100%">
<tr>
	<th align="left">Nombre</th>
	<th align="left">Fecha</th>
	<th align="left">Usuario</th>
	<th align="left">Descripción</th>
</tr>
{% if busqueda_list %}
    {% for busqueda in busqueda_list  %}
    <tr>
	<td width="25%"><a href="/unoporuno/busqueda/{{ busqueda.id }}/">{{ busqueda.nombre  }}</a></td>
	<td width="25%">{{ busqueda.fecha  }}</a></td>
        <td width="25%">{{ busqueda.usuario }}</a></td>
        <td width="25%">{{ busqueda.descripcion }}</a></td>
    </tr>
    {% endfor %}
{% else %}
    <tr>
        <td width="25%"><strong>No hay búsquedas disponibles</strong></td>
        <td width="25%"></td>
        <td width="25%"></td>
        <td width="25%"></td>
    </tr>
{% endif %}
</table>
{% endblock %}
