{% extends "unoporuno/header.html" %}
{% block content %}
<table border="0" width="100%">
<td width="40%"><h2>Búsquedas</h2></td>
<td width="20%"></td>
<td align="40%"><div align="right"><a href="/unoporuno/lanza_busqueda/"><h5>[Lanzar búsqueda]</h5></a></div></td>
</table>

<table border="1" width="100%">
<tr>
        <th align="left">Id</th>
	<th align="left">Nombre</th>
	<th align="left">Fecha</th>
	<th align="left">Usuario</th>
	<th align="left">Descripción</th>
	<th align="left">Status</th>
</tr>
{% if busqueda_list %}
    {% for busqueda in busqueda_list  %}
    <tr>
        <td width="3%">{{ busqueda.id  }}</a></td>
	<td width="25%"><a href="/unoporuno/busqueda/{{ busqueda.id }}/">{{ busqueda.nombre  }}</a></td>
	<td width="25%">{{ busqueda.fecha  }}</a></td>
        <td width="17%">{{ busqueda.usuario }}</a></td>
        <td width="25%">{{ busqueda.descripcion }}</a></td>
        <td width="5%">{{ busqueda.status }}</td>
    </tr>
    {% endfor %}
{% else %}
    <tr>
        <td width="25%"><strong>No hay búsquedas disponibles</strong></td>
        <td width="25%"></td>
        <td width="25%"></td>
        <td width="25%"></td>
    </tr>
{% endif %}
</table>
{% endblock %}
