{% extends "unoporuno/base.html" %}
{% block content %}
<form method="post" action="/unoporuno/login_cidesal/">
{% csrf_token %}
<div align="center">
<ul>
<li><label for "usuario">Usuario:</label></li>
<li><input type="text" name="usuario" size="20" /></li>
<li><label for "clave">Clave:</label></li>
<li><input type="password" name="clave" size="20" /></li>
<li><input type="submit" value="Login" /></li>
<br/>
<br/>Si aún no está usted registrado, <a href="/unoporuno/registro/">regístrese aquí<a/>.<br/>
</div>
{% endblock %}
