<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style1.css"/>
</head>
<body>
<form method="post" action="/unoporuno/busqueda/{{ busqueda_id }}/persona/{{ persona_id }}/pipeline/{{ pipeline_id }}/{{ features }}/busca/" target="main">
{% csrf_token %}
<a href="/unoporuno/" target="_top">
<img src="{{ STATIC_URL }}cidesal.jpg" height="140" width="140"
     border="0"/></a>
<b>Filtro:</b>
<br /> 
<br />
<input type='radio' name='pipeline' value='top' 
       {% if pipeline_id == "top" %} checked {% endif %}
>Top 5</input><br/>
<input type='radio' name='pipeline' value='all' 
       {% if pipeline_id == "all" %} checked {% endif %}
>Todos</input><br/>
<p><b>Características:</b></p>
<input type="checkbox" name='0' value='checked'>organización</input><br/>
<input type="checkbox" name='1' value='checked'>país</input><br/>
<input type="checkbox" name='2' value='checked'>ciudad</input><br/>
<input type="checkbox" name='3' value='checked'>acrónimo</input><br/>
<input type="checkbox" name='4' value='checked'>biografía </input><br/>
<input type="checkbox" name='5' value='checked'>profesión</input><br/>
<input type="checkbox" name='6' value='checked'>grado académico</input><br/>
<input type="checkbox" name='7' value='checked'>cv</input><br/>
<input type="checkbox" name='8' value='checked'>http://nombre</input><br/>
<input type="checkbox" name='9' value='checked'>nacionalidad lat.</input><br/>
<input type="checkbox" name='10' value='checked'>otra nacionalidad</input><br/>
<input type="checkbox" name='11' value='checked'>email</input><br/>
<input type="checkbox" name='12' value='checked'>publicación</input><br/>
<input type="checkbox" name='13' value='checked'>linkedin</input><br/>
<input type="checkbox" name='14' value='checked'>tesis</input><br/>




<!-- old options, now useless, JGF: 19/01/12

<input type='radio' name='pipeline' value='nom' 
       {% if pipeline_id == "nom" %} checked {% endif %}
>Nombre</input><br/>
<input type='radio' name='pipeline' value='geo' 
       {% if pipeline_id == "geo" %} checked {% endif %}
>Geografía</input><br/>
<input type='radio' name='pipeline' value='tem' 
       {% if pipeline_id == "tem" %} checked {% endif %}
>Temas</input><br/>
<input type='radio' name='pipeline' value='org' 
       {% if pipeline_id == "org" %} checked {% endif %}
>Organizaciones</input><br/> -->


<br />
<br />
<input type="submit" value="Buscar"  {% ifequal busqueda_id "102" %} disabled="True" {% endifequal %} 
                                     {% ifequal busqueda_id "103" %} disabled="True" {% endifequal %} 
                                     {% ifequal busqueda_id "104" %} disabled="True" {% endifequal %} 
				     {% ifequal busqueda_id "105" %} disabled="True" {% endifequal %} 
				     {% ifequal busqueda_id "121" %} disabled="True" {% endifequal %} /> <br/>
</form>
</body>
</html>
