<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style1.css"/>
</head>
<frameset cols="170,*" frameborder="1">
<h1>Buscador de diásporas</h1>
<hr/>
  <frame name="contents" src="options.html">
  <frame name="main" src="pipeline.html">
  <noframes>
  <body>
  <p>This page is using frames. Your browser does not support it.</p>
  </body>
  </noframes>
  </frame>
</frameset>

</html>
