<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style1.css"/>
</head>
<body>
  <!--<h1><a href="/unoporuno/busqueda/{{ busqueda.id }}/" target="_top">Buscador de diásporas</a></h1> -->
  <h1>Buscador de diásporas</h1>
<h2>{{ persona.name }}</h2> 
<b><i>Geografía: </i></b> {{ persona.geo }} <br/>
<b><i>Organizaciones: </i></b> {{ persona.orgs }} <br/>
<b><i>Temas: </i></b> {{ persona.topics }}<br/><br/>
<hr/>
<h3>Vínculos posibles:</h3>
<table border="1" width="100%">                                                                                                <tr>
    <th align="center">Snippets</th>
    <th align="center">Organizaciones</th>
    <th align="center">Lugares</th>
 </tr>
{% for vinculo in lista_vinculos %}
 <tr>
   <td> {{ vinculo.descripcion|linebreaksbr }}  </td> 
   <td>{{ vinculo.organizaciones|linebreaksbr }}</td>
   <td>{{ vinculo.lugares|linebreaksbr }}</td> 
 </tr>
{% endfor %}
</table>
</body>
</html>
