<% layout(layoutFile) %>
<% block('title',title) %>
<% block('description',description) %>


<div class="row">
        <div class="col-lg-4">
            <div class="well bs-component">
                <form class="form-horizontal">
                    <fieldset>
                        <legend>Filtrage</legend>
                        <div class="form-group">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                                    Option one is this
                                </label>
                            </div>

                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                                    Option one is this
                                </label>
                            </div>

                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                                    Option one is this
                                </label>
                            </div>

                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                                    Option one is this
                                </label>
                            </div>

                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                                    Option one is this
                                </label>
                            </div>
                        </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <button class="btn btn-default">Annuler</button>
                                <button type="submit" class="btn btn-primary">Valider</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>

            <div class="col-lg-8">
                <h1>X</h1>
                <table class="table table-striped table-hover ">
                    <thead>
                        <tr>
                            <th>Résultat de la X</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt gravida euismod. Aenean sollicitudin lacus ac dictum rutrum. Morbi mollis augue sit amet orci pharetra, eu volutpat urna iaculis. Duis quis nisi mattis, viverra lectus eu, ultrices dolor. Proin accumsan venenatis semper. Donec fermentum quam eget mi rutrum faucibus. Morbi porta velit et lorem dapibus eleifend. Curabitur laoreet ornare convallis. Suspendisse vel turpis velit. Etiam et euismod elit. Praesent tempus semper accumsan.

                                Nullam a sagittis ante. Nulla hendrerit adipiscing faucibus. Aliquam luctus eros id libero tristique rhoncus. In eu nisl ligula. Nullam eu gravida urna. Quisque iaculis sapien ut pretium suscipit. Proin justo augue, pharetra suscipit elementum vel, pulvinar id nisl. Proin condimentum viverra lorem nec dictum.

                                Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque id faucibus felis. Curabitur risus urna, eleifend non erat quis, suscipit commodo ipsum. Phasellus eu tortor consequat, feugiat leo nec, lobortis ante. Nunc adipiscing mi ac enim pellentesque sodales. Donec eu lorem interdum, commodo enim ac, dictum nunc. Sed sagittis, elit quis iaculis hendrerit, odio lorem iaculis eros, sed blandit nisi nibh sed leo.

                                Curabitur odio felis, bibendum eget mi quis, dignissim aliquam erat. Morbi fringilla viverra nibh et molestie. Morbi pharetra ante at semper auctor. Mauris feugiat, risus at condimentum pharetra, risus dolor porta diam, non ultricies erat enim sit amet mauris. Aliquam iaculis sapien sed ipsum rutrum luctus. Aliquam viverra lobortis purus vel consequat. Nunc ultricies ipsum in nisi scelerisque, in mattis elit rhoncus.
                            </td>
                        </tr>
                        <tr>
                            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt gravida euismod. Aenean sollicitudin lacus ac dictum rutrum. Morbi mollis augue sit amet orci pharetra, eu volutpat urna iaculis. Duis quis nisi mattis, viverra lectus eu, ultrices dolor. Proin accumsan venenatis semper. Donec fermentum quam eget mi rutrum faucibus. Morbi porta velit et lorem dapibus eleifend. Curabitur laoreet ornare convallis. Suspendisse vel turpis velit. Etiam et euismod elit. Praesent tempus semper accumsan.

                                Nullam a sagittis ante. Nulla hendrerit adipiscing faucibus. Aliquam luctus eros id libero tristique rhoncus. In eu nisl ligula. Nullam eu gravida urna. Quisque iaculis sapien ut pretium suscipit. Proin justo augue, pharetra suscipit elementum vel, pulvinar id nisl. Proin condimentum viverra lorem nec dictum.

                                Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque id faucibus felis. Curabitur risus urna, eleifend non erat quis, suscipit commodo ipsum. Phasellus eu tortor consequat, feugiat leo nec, lobortis ante. Nunc adipiscing mi ac enim pellentesque sodales. Donec eu lorem interdum, commodo enim ac, dictum nunc. Sed sagittis, elit quis iaculis hendrerit, odio lorem iaculis eros, sed blandit nisi nibh sed leo.

                                Curabitur odio felis, bibendum eget mi quis, dignissim aliquam erat. Morbi fringilla viverra nibh et molestie. Morbi pharetra ante at semper auctor. Mauris feugiat, risus at condimentum pharetra, risus dolor porta diam, non ultricies erat enim sit amet mauris. Aliquam iaculis sapien sed ipsum rutrum luctus. Aliquam viverra lobortis purus vel consequat. Nunc ultricies ipsum in nisi scelerisque, in mattis elit rhoncus.
                            </td>
                        </tr>
                        <tr class="info">
                            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt gravida euismod. Aenean sollicitudin lacus ac dictum rutrum. Morbi mollis augue sit amet orci pharetra, eu volutpat urna iaculis. Duis quis nisi mattis, viverra lectus eu, ultrices dolor. Proin accumsan venenatis semper. Donec fermentum quam eget mi rutrum faucibus. Morbi porta velit et lorem dapibus eleifend. Curabitur laoreet ornare convallis. Suspendisse vel turpis velit. Etiam et euismod elit. Praesent tempus semper accumsan.

                                Nullam a sagittis ante. Nulla hendrerit adipiscing faucibus. Aliquam luctus eros id libero tristique rhoncus. In eu nisl ligula. Nullam eu gravida urna. Quisque iaculis sapien ut pretium suscipit. Proin justo augue, pharetra suscipit elementum vel, pulvinar id nisl. Proin condimentum viverra lorem nec dictum.

                                Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque id faucibus felis. Curabitur risus urna, eleifend non erat quis, suscipit commodo ipsum. Phasellus eu tortor consequat, feugiat leo nec, lobortis ante. Nunc adipiscing mi ac enim pellentesque sodales. Donec eu lorem interdum, commodo enim ac, dictum nunc. Sed sagittis, elit quis iaculis hendrerit, odio lorem iaculis eros, sed blandit nisi nibh sed leo.

                                Curabitur odio felis, bibendum eget mi quis, dignissim aliquam erat. Morbi fringilla viverra nibh et molestie. Morbi pharetra ante at semper auctor. Mauris feugiat, risus at condimentum pharetra, risus dolor porta diam, non ultricies erat enim sit amet mauris. Aliquam iaculis sapien sed ipsum rutrum luctus. Aliquam viverra lobortis purus vel consequat. Nunc ultricies ipsum in nisi scelerisque, in mattis elit rhoncus.
                            </td>
                        </tr>
                        <tr class="danger">
                            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt gravida euismod. Aenean sollicitudin lacus ac dictum rutrum. Morbi mollis augue sit amet orci pharetra, eu volutpat urna iaculis. Duis quis nisi mattis, viverra lectus eu, ultrices dolor. Proin accumsan venenatis semper. Donec fermentum quam eget mi rutrum faucibus. Morbi porta velit et lorem dapibus eleifend. Curabitur laoreet ornare convallis. Suspendisse vel turpis velit. Etiam et euismod elit. Praesent tempus semper accumsan.

                                Nullam a sagittis ante. Nulla hendrerit adipiscing faucibus. Aliquam luctus eros id libero tristique rhoncus. In eu nisl ligula. Nullam eu gravida urna. Quisque iaculis sapien ut pretium suscipit. Proin justo augue, pharetra suscipit elementum vel, pulvinar id nisl. Proin condimentum viverra lorem nec dictum.

                                Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque id faucibus felis. Curabitur risus urna, eleifend non erat quis, suscipit commodo ipsum. Phasellus eu tortor consequat, feugiat leo nec, lobortis ante. Nunc adipiscing mi ac enim pellentesque sodales. Donec eu lorem interdum, commodo enim ac, dictum nunc. Sed sagittis, elit quis iaculis hendrerit, odio lorem iaculis eros, sed blandit nisi nibh sed leo.

                                Curabitur odio felis, bibendum eget mi quis, dignissim aliquam erat. Morbi fringilla viverra nibh et molestie. Morbi pharetra ante at semper auctor. Mauris feugiat, risus at condimentum pharetra, risus dolor porta diam, non ultricies erat enim sit amet mauris. Aliquam iaculis sapien sed ipsum rutrum luctus. Aliquam viverra lobortis purus vel consequat. Nunc ultricies ipsum in nisi scelerisque, in mattis elit rhoncus.
                            </td>
                        </tr>
                        <tr class="warning">
                            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt gravida euismod. Aenean sollicitudin lacus ac dictum rutrum. Morbi mollis augue sit amet orci pharetra, eu volutpat urna iaculis. Duis quis nisi mattis, viverra lectus eu, ultrices dolor. Proin accumsan venenatis semper. Donec fermentum quam eget mi rutrum faucibus. Morbi porta velit et lorem dapibus eleifend. Curabitur laoreet ornare convallis. Suspendisse vel turpis velit. Etiam et euismod elit. Praesent tempus semper accumsan.

                                Nullam a sagittis ante. Nulla hendrerit adipiscing faucibus. Aliquam luctus eros id libero tristique rhoncus. In eu nisl ligula. Nullam eu gravida urna. Quisque iaculis sapien ut pretium suscipit. Proin justo augue, pharetra suscipit elementum vel, pulvinar id nisl. Proin condimentum viverra lorem nec dictum.

                                Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque id faucibus felis. Curabitur risus urna, eleifend non erat quis, suscipit commodo ipsum. Phasellus eu tortor consequat, feugiat leo nec, lobortis ante. Nunc adipiscing mi ac enim pellentesque sodales. Donec eu lorem interdum, commodo enim ac, dictum nunc. Sed sagittis, elit quis iaculis hendrerit, odio lorem iaculis eros, sed blandit nisi nibh sed leo.

                                Curabitur odio felis, bibendum eget mi quis, dignissim aliquam erat. Morbi fringilla viverra nibh et molestie. Morbi pharetra ante at semper auctor. Mauris feugiat, risus at condimentum pharetra, risus dolor porta diam, non ultricies erat enim sit amet mauris. Aliquam iaculis sapien sed ipsum rutrum luctus. Aliquam viverra lobortis purus vel consequat. Nunc ultricies ipsum in nisi scelerisque, in mattis elit rhoncus.
                            </td>
                        </tr>
                    </tbody>
                </table> 

            </div>
</div>
